*{
    font: italic min(1.5em, 10vw) "Serif Sans", serif;
    color: white;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    height: auto;
    background: linear-gradient(45deg, #2d388a, #00aeef);
}

@keyframes shiftHUE {
    from {backdrop-filter: hue-rotate(0deg);}
    to {backdrop-filter: hue-rotate(360deg);}
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    animation: shiftHUE 20s infinite;
}

#quote-container{
    width: min(1000px, 90vw);
    text-align: left;
}

#quote{
    font-size: 1em;
    font-weight: 500;
}

#author{
    font-size: 0.45em;
    font-weight: 50;
}
